In [1]:
#imbalance
#normalize to 0-1
#out: M,N,D
#some data doesn't exist in B,C and CD-CI, also CV,CW exclude those null instances

import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, nan_euclidean_distances

pd.set_option('display.max_rows', 200)

In [2]:
#create DataFrame
velux_dataset_original = pd.read_csv("sample_data_velux.csv", sep=';')

In [3]:
#check data type
velux_dataset_original.dtypes

final_id                                   object
marketing_consent_optin                    object
marketing_consent_optout                   object
marketing_consent_optout_date              object
number_of_submited_forms                    int64
number_of_unique_project_type               int64
number_of_unique_space_type                 int64
if_intent                                   int64
if_project_intent_changed                   int64
if_space_intent_changed                     int64
project_type                               object
space_type                                 object
first_brproject                            object
first_brspace                              object
if_brproject                                int64
if_brspace                                  int64
number_of_clicked_banners                   int64
number_of_clicked_banners_on_velux          int64
number_of_clicked_banners_outside_velux     int64
number_of_sessions                          int64
number_of_mobile_sessions                   int64
number_of_stationary_sessions               int64
number_of_ipad_sessions                     int64
if_returning_customer                       int64
avg_time_per_session_sec                    int64
total_time_of_sessions_sec                  int64
number_of_unique_page_views                 int64
number_of_page_views                        int64
avg_page_visit_per_session                  int64
if_abandoned_form                           int64
number_of_pages_allspaces                   int64
avg_pages_allspaces_per_session             int64
number_of_pages_kidsroom                    int64
avg_pages_kidsroom_per_session              int64
number_of_pages_homeoffice                  int64
avg_pages_homeoffice_per_session            int64
number_of_pages_livingroom                  int64
avg_pages_livingroom_per_session            int64
number_of_pages_hallwaycorridor             int64
avg_pages_hallwaycorridor_per_session       int64
number_of_pages_kitchen                     int64
avg_pages_kitchen_per_session               int64
number_of_pages_bathroom                    int64
avg_pages_bathroom_per_session              int64
number_of_pages_bedroom                     int64
avg_pages_bedroom_per_session               int64
number_of_pages_extension                   int64
avg_pages_extension_per_session             int64
number_of_pages_loftconversion              int64
avg_pages_loftconversion_per_session        int64
number_of_pages_renovation                  int64
avg_pages_renovation_per_session            int64
number_of_pages_newbuild                    int64
avg_pages_newbuild_per_session              int64
number_of_pages_upgrading                   int64
avg_pages_upgrading_per_session             int64
number_of_pages_reroofing                   int64
avg_pages_reroofing_per_session             int64
number_of_pages_replacement                 int64
avg_pages_replacement_per_session           int64
number_of_pages_flatroof                    int64
avg_pages_flatroof_per_session              int64
number_of_pages_allprojects                 int64
avg_pages_allprojects_per_session           int64
duration_of_pages_allspaces_sec             int64
duration_of_pages_kidsroom_sec              int64
duration_of_pages_homeoffice_sec            int64
duration_of_pages_livingroom_sec            int64
duration_of_pages_hallwaycorridor_sec       int64
duration_of_pages_kitchen_sec               int64
duration_of_pages_bathroom_sec              int64
duration_of_pages_bedroom_sec               int64
duration_of_pages_extension_sec             int64
duration_of_pages_loftconversion_sec        int64
duration_of_pages_renovation_sec            int64
duration_of_pages_newbuild_sec              int64
duration_of_pages_upgrading_sec             int64
duration_of_pages_reroofing_sec             int64
duration_of_pages_replacement_sec           int64
duration_of_pages_flatroof_sec              int64
duration_of_pages_allprojects_sec           int64
most_frequent_page_project_type            object
most_frequent_page_space_type              object
second_frequent_page_project_type          object
second_frequent_page_space_type            object
third_frequent_page_project_type           object
third_frequent_page_space_type             object
number_of_sunday_events                     int64
number_of_moday_events                      int64
number_of_tuesday_events                    int64
number_of_wednesday_events                  int64
number_of_thursday_events                   int64
number_of_friday_events                     int64
number_of_saturday_events                   int64
number_of_hour_1_6_events                   int64
number_of_hour_7_12_events                  int64
number_of_hour_13_18_events                 int64
number_of_hour_19_24_events                 int64
if_visited_marketing_domain_flag            int64
tag_project_last_visited_page              object
tag_space_last_visited_page                object
dtype: object

In [4]:
#inspect data
cols = list(velux_dataset_original)
toDelete = []
toObject = []

for col in cols:
    if len(velux_dataset_original[col].unique()) == 1 or (len(velux_dataset_original[col].unique()) == 2 and np.NaN in velux_dataset_original[col].unique()):
         toDelete.append(col)
    elif col[0:2] == 'if':
        toObject.append(col)    

print(toDelete)

['number_of_submited_forms', 'number_of_unique_project_type', 'if_intent', 'if_project_intent_changed', 'if_space_intent_changed', 'if_abandoned_form']

In [5]:
#clean the data

#drop cols with only one uniqe value
velux_dataset_original.drop(toDelete, axis='columns',inplace=True)

#drop cols with too little data
velux_dataset = velux_dataset_original.drop(['final_id','first_brproject','first_brspace','marketing_consent_optout_date'], axis='columns')

#convert type of data from int64 to Object where apropriate
for col in toObject:
    velux_dataset[col] = velux_dataset[col].astype(str)

In [6]:
#create small dataset by deleting all rows with any NaN values
velux_dataset_small = velux_dataset.dropna()

#create dataset with synthesied missing values
velux_dataset_synthesised= [] #TODO

#create big dataset by deleting cols with too many missing data
velux_dataset_big = velux_dataset.drop(['most_frequent_page_project_type','most_frequent_page_space_type','second_frequent_page_project_type','second_frequent_page_space_type','third_frequent_page_project_type','third_frequent_page_space_type'], axis='columns')

In [7]:
velux_dataset_small

,marketing_consent_optin,marketing_consent_optout,number_of_unique_space_type,project_type,space_type,if_brproject,if_brspace,number_of_clicked_banners,number_of_clicked_banners_on_velux,number_of_clicked_banners_outside_velux,...,number_of_thursday_events,number_of_friday_events,number_of_saturday_events,number_of_hour_1_6_events,number_of_hour_7_12_events,number_of_hour_13_18_events,number_of_hour_19_24_events,if_visited_marketing_domain_flag,tag_project_last_visited_page,tag_space_last_visited_page
89,True,False,0,replacement,no_space_intent,0,0,0,0,0,...,0,0,0,0,7,0,0,1,all projects,allspaces
230,True,False,1,newbuild,allspaces,0,0,2,0,0,...,41,26,23,5,37,52,0,1,all projects,allspaces
351,True,False,1,renovation,allspaces,0,0,0,0,0,...,0,4,0,4,0,12,0,1,all projects,allspaces
471,True,False,1,replacement,livingroom,0,0,0,0,0,...,0,0,17,0,25,0,0,1,all projects,allspaces
477,True,False,1,replacement,bathroom,0,0,8,0,8,...,6,9,18,18,6,29,0,1,all projects,allspaces
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2432,True,False,1,newbuild,livingroom,0,0,1,0,0,...,0,0,0,0,9,3,0,1,all projects,allspaces
2461,True,False,1,loftconversion,corridororstaircase,0,0,2,0,0,...,12,0,0,0,0,12,0,1,all projects,allspaces
2462,True,False,1,replacement,bedroom,0,0,1,0,0,...,11,0,0,0,0,11,0,1,all projects,allspaces
2463,True,False,1,loftconversion,corridororstaircase,0,0,4,0,0,...,15,0,0,0,0,0,15,1,all projects,allspaces
2485,True,False,1,upgrading,kidsroom,0,0,2,0,0,...,0,0,0,0,0,0,12,1,all projects,allspaces

In [8]:
#once again clean cols with only one value
toDeleteSmall = []

for col in velux_dataset_small:
    if len(velux_dataset_small[col].unique()) == 1 or (len(velux_dataset_small[col].unique()) == 2 and np.NaN in velux_dataset_small[col].unique()):
        toDeleteSmall.append(col)

velux_dataset_small.drop(toDeleteSmall,axis='columns',inplace=True)

C:\Users\kubus\AppData\Local\Temp\ipykernel_18824\3071543098.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  velux_dataset_small.drop(toDeleteSmall,axis='columns',inplace=True)

In [9]:
#check for class imbalance (could use Tomek Links, SMOTE, Metric like F1, and Random Forest algorithm, since tree based algos work well with imbalanced data)
for col in velux_dataset_small:
    print(velux_dataset_small[col].value_counts(), '\n')

marketing_consent_optin
True     182
False     31
Name: count, dtype: int64

marketing_consent_optout
False    206
True       7
Name: count, dtype: int64

number_of_unique_space_type
1    198
0     15
Name: count, dtype: int64

project_type
replacement       103
loftconversion     52
upgrading          30
newbuild           20
renovation          8
Name: count, dtype: int64

space_type
bedroom                68
livingroom             27
bathroom               27
corridororstaircase    27
allspaces              21
no_space_intent        15
kitchen                12
kidsroom                9
office                  7
Name: count, dtype: int64

if_brproject
0    205
1      8
Name: count, dtype: int64

if_brspace
0    210
1      3
Name: count, dtype: int64

number_of_clicked_banners
0     165
2      25
1      11
4       3
8       2
3       2
5       2
6       1
13      1
7       1
Name: count, dtype: int64

number_of_clicked_banners_outside_velux
0    212
8      1
Name: count, dtype: int64

number_of_sessions
1     135
2      44
3      18
4       5
6       3
10      2
7       2
5       2
8       1
11      1
Name: count, dtype: int64

number_of_mobile_sessions
0    111
1     60
2     24
3     11
4      3
5      2
6      1
7      1
Name: count, dtype: int64

number_of_stationary_sessions
0     104
1      77
2      17
3       7
10      2
4       2
7       1
8       1
6       1
11      1
Name: count, dtype: int64

number_of_ipad_sessions
0    209
1      2
2      1
6      1
Name: count, dtype: int64

if_returning_customer
0    135
1     78
Name: count, dtype: int64

avg_time_per_session_sec
92      2
148     2
163     2
210     2
133     2
391     2
620     2
348     2
188     2
102     2
232     2
605     2
214     2
329     2
160     2
572     2
164     2
69      2
182     2
125     2
103     1
1409    1
244     1
291     1
295     1
365     1
1257    1
449     1
1464    1
1182    1
235     1
270     1
158     1
430     1
3474    1
319     1
1043    1
440     1
462     1
682     1
141     1
259     1
211     1
404     1
1966    1
293     1
118     1
325     1
156     1
224     1
562     1
606     1
288     1
1276    1
2003    1
355     1
52      1
276     1
727     1
509     1
512     1
496     1
152     1
1074    1
1548    1
213     1
989     1
2713    1
265     1
1575    1
363     1
257     1
40      1
3506    1
127     1
2271    1
650     1
582     1
609     1
205     1
2687    1
395     1
422     1
3613    1
559     1
1116    1
279     1
821     1
313     1
503     1
1481    1
1029    1
273     1
328     1
5623    1
720     1
107     1
140     1
159     1
132     1
142     1
93      1
374     1
289     1
724     1
617     1
603     1
361     1
613     1
751     1
537     1
600     1
1080    1
1139    1
2380    1
115     1
190     1
42      1
165     1
960     1
332     1
715     1
629     1
1242    1
228     1
275     1
172     1
169     1
345     1
856     1
89      1
167     1
407     1
543     1
72      1
402     1
209     1
2143    1
281     1
1004    1
283     1
268     1
501     1
3859    1
879     1
247     1
192     1
198     1
647     1
87      1
1293    1
1408    1
81      1
510     1
144     1
237     1
8896    1
674     1
138     1
30      1
776     1
121     1
203     1
243     1
154     1
853     1
558     1
1507    1
438     1
217     1
630     1
277     1
3562    1
1033    1
1095    1
1808    1
381     1
321     1
590     1
292     1
1168    1
1717    1
173     1
287     1
330     1
128     1
845     1
105     1
570     1
431     1
662     1
1259    1
197     1
Name: count, dtype: int64

total_time_of_sessions_sec
620     2
1116    2
214     2
276     2
128     2
       ..
570     1
431     1
1324    1
1259    1
197     1
Name: count, Length: 201, dtype: int64

number_of_unique_page_views
4     51
5     38
3     34
6     23
7     16
8     12
11     8
13     6
10     5
12     4
9      4
16     3
28     2
17     2
14     2
15     1
27     1
20     1
Name: count, dtype: int64

number_of_page_views
4     32
7     27
3     24
5     17
6     13
9     13
8      9
10     9
11     9
15     8
12     8
13     6
18     5
25     4
14     4
22     3
16     3
24     2
23     2
17     2
19     2
68     1
58     1
20     1
28     1
26     1
35     1
92     1
21     1
72     1
47     1
27     1
Name: count, dtype: int64

avg_page_visit_per_session
4     43
3     33
5     25
7     25
6     20
2     11
9     10
8      9
1      6
10     5
12     5
11     5
14     3
15     2
13     2
16     1
17     1
20     1
19     1
22     1
18     1
21     1
23     1
25     1
Name: count, dtype: int64

number_of_pages_allspaces
3     40
4     34
2     28
5     18
6     17
9     14
7     11
8      9
10     7
12     6
1      6
11     5
16     4
19     4
13     4
15     2
30     1
42     1
22     1
37     1
Name: count, dtype: int64

avg_pages_allspaces_per_session
3     51
2     49
4     34
1     20
5     19
9      9
6      9
7      5
0      3
10     3
13     3
11     2
8      2
16     2
12     1
18     1
Name: count, dtype: int64

number_of_pages_kidsroom
0    207
1      5
2      1
Name: count, dtype: int64

avg_pages_kidsroom_per_session
0    210
1      3
Name: count, dtype: int64

number_of_pages_homeoffice
0    199
1      7
2      5
3      1
4      1
Name: count, dtype: int64

avg_pages_homeoffice_per_session
0    204
1      6
2      3
Name: count, dtype: int64

number_of_pages_livingroom
0    200
1      8
2      4
3      1
Name: count, dtype: int64

avg_pages_livingroom_per_session
0    206
1      6
2      1
Name: count, dtype: int64

number_of_pages_hallwaycorridor
0     182
1       9
2       7
4       4
3       4
11      2
5       2
8       1
6       1
7       1
Name: count, dtype: int64

avg_pages_hallwaycorridor_per_session
0    183
1     17
2      6
3      3
4      2
5      1
7      1
Name: count, dtype: int64

number_of_pages_kitchen
0    208
1      5
Name: count, dtype: int64

avg_pages_kitchen_per_session
0    211
1      2
Name: count, dtype: int64

number_of_pages_bathroom
0    201
1      6
2      6
Name: count, dtype: int64

avg_pages_bathroom_per_session
0    207
1      5
2      1
Name: count, dtype: int64

number_of_pages_bedroom
0    182
1     19
2      8
3      3
5      1
Name: count, dtype: int64

avg_pages_bedroom_per_session
0    197
1     10
3      3
2      3
Name: count, dtype: int64

number_of_pages_extension
0    212
1      1
Name: count, dtype: int64

avg_pages_extension_per_session
0    212
1      1
Name: count, dtype: int64

number_of_pages_loftconversion
0     199
1       8
2       2
7       1
4       1
3       1
23      1
Name: count, dtype: int64

avg_pages_loftconversion_per_session
0     203
1       6
2       3
11      1
Name: count, dtype: int64

number_of_pages_renovation
0    197
1      9
2      4
3      2
5      1
Name: count, dtype: int64

avg_pages_renovation_per_session
0    201
1      8
2      3
3      1
Name: count, dtype: int64

number_of_pages_newbuild
0    211
1      2
Name: count, dtype: int64

number_of_pages_upgrading
0    209
1      3
2      1
Name: count, dtype: int64

avg_pages_upgrading_per_session
0    210
1      3
Name: count, dtype: int64

number_of_pages_reroofing
0    212
2      1
Name: count, dtype: int64

avg_pages_reroofing_per_session
0    212
2      1
Name: count, dtype: int64

number_of_pages_replacement
0    193
1     13
2      5
5      1
3      1
Name: count, dtype: int64

avg_pages_replacement_per_session
0    198
1     11
2      3
3      1
Name: count, dtype: int64

number_of_pages_flatroof
0     177
1      20
2       5
3       5
5       3
11      1
7       1
4       1
Name: count, dtype: int64

avg_pages_flatroof_per_session
0    187
1     19
2      5
3      2
Name: count, dtype: int64

number_of_pages_allprojects
3     38
6     23
2     23
5     22
4     21
7     15
8     14
1     13
11     8
14     6
10     6
9      5
13     4
12     4
16     3
19     2
15     2
17     1
22     1
57     1
30     1
Name: count, dtype: int64

avg_pages_allprojects_per_session
3     51
2     39
1     30
4     26
5     23
7      9
6      9
8      8
11     4
0      3
13     2
9      2
10     2
12     1
14     1
15     1
19     1
16     1
Name: count, dtype: int64

duration_of_pages_allspaces_sec
83       3
198      3
139      3
123      3
69       3
102      3
34       2
58       2
24       2
49       2
504      2
203      2
114      2
168      2
81       2
404      2
214      2
35       2
185      2
119      2
135      2
126      2
289      2
386      1
108      1
68       1
312      1
2314     1
192      1
563      1
288      1
681      1
231      1
13       1
171      1
162      1
217      1
94       1
833      1
91       1
485      1
771      1
116      1
631      1
4        1
56       1
480      1
60       1
28       1
86       1
1678     1
265      1
440      1
36       1
161      1
183      1
52       1
466      1
188      1
48       1
12       1
818      1
1495     1
61       1
1573     1
4377     1
39       1
2485     1
6831     1
101      1
40       1
387      1
375      1
89       1
1261     1
311      1
65       1
617      1
2988     1
174      1
32       1
166      1
223      1
204      1
390      1
296      1
44       1
820      1
572      1
85       1
599      1
303      1
43       1
2        1
459      1
97       1
93       1
543      1
657      1
304      1
1507     1
1080     1
191      1
170      1
137      1
172      1
75       1
649      1
511      1
254      1
23       1
786      1
4925     1
70       1
38       1
826      1
1911     1
619      1
419      1
1106     1
670      1
286      1
79       1
2417     1
189      1
578      1
836      1
528      1
259      1
141      1
196      1
77       1
411      1
73       1
634      1
742      1
169      1
545      1
754      1
80       1
1314     1
530      1
292      1
275      1
1230     1
287      1
277      1
121      1
421      1
585      1
336      1
446      1
195      1
201      1
17468    1
115      1
11       1
800      1
391      1
1597     1
159      1
489      1
1008     1
431      1
180      1
570      1
1154     1
3484     1
205      1
157      1
164      1
492      1
76       1
57       1
316      1
173      1
1003     1
357      1
1960     1
182      1
1323     1
6        1
363      1
143      1
Name: count, dtype: int64

duration_of_pages_kidsroom_sec
0     207
14      1
48      1
4       1
49      1
39      1
33      1
Name: count, dtype: int64

duration_of_pages_homeoffice_sec
0      199
360      1
58       1
46       1
120      1
30       1
795      1
11       1
111      1
94       1
569      1
79       1
37       1
209      1
54       1
Name: count, dtype: int64

duration_of_pages_livingroom_sec
0      200
59       1
520      1
112      1
34       1
46       1
176      1
32       1
13       1
175      1
107      1
133      1
39       1
43       1
Name: count, dtype: int64

duration_of_pages_hallwaycorridor_sec
0       182
65        2
294       1
59        1
44        1
109       1
396       1
1140      1
12        1
93        1
64        1
38        1
620       1
430       1
356       1
13        1
1856      1
17        1
144       1
212       1
150       1
129       1
817       1
582       1
406       1
260       1
3300      1
761       1
2         1
24        1
87        1
Name: count, dtype: int64

duration_of_pages_kitchen_sec
0      208
43       1
36       1
38       1
154      1
35       1
Name: count, dtype: int64

duration_of_pages_bathroom_sec
0      201
72       1
103      1
81       1
167      1
66       1
28       1
123      1
270      1
207      1
98       1
29       1
2        1
Name: count, dtype: int64

duration_of_pages_bedroom_sec
0       182
11        3
12        2
49        1
58        1
243       1
86        1
66        1
13        1
26        1
78        1
809       1
18        1
96        1
80        1
29        1
6         1
1110      1
39        1
46        1
76        1
9         1
226       1
207       1
2187      1
135       1
4672      1
33        1
61        1
Name: count, dtype: int64

duration_of_pages_extension_sec
0     212
31      1
Name: count, dtype: int64

duration_of_pages_loftconversion_sec
0       200
197       1
418       1
59        1
162       1
34        1
477       1
30        1
137       1
91        1
175       1
1591      1
219       1
19        1
Name: count, dtype: int64

duration_of_pages_renovation_sec
0       197
30        1
2080      1
342       1
1173      1
4         1
176       1
90        1
44        1
346       1
22        1
907       1
21        1
26        1
621       1
16        1
73        1
Name: count, dtype: int64

duration_of_pages_newbuild_sec
0      211
14       1
140      1
Name: count, dtype: int64

duration_of_pages_upgrading_sec
0     209
72      1
21      1
53      1
61      1
Name: count, dtype: int64

duration_of_pages_reroofing_sec
0      212
114      1
Name: count, dtype: int64

duration_of_pages_replacement_sec
0      193
13       2
34       1
30       1
19       1
10       1
52       1
71       1
147      1
110      1
85       1
316      1
331      1
127      1
25       1
97       1
20       1
51       1
84       1
346      1
Name: count, dtype: int64

duration_of_pages_flatroof_sec
0       177
12        3
17        2
90        2
26        2
6         2
41        1
140       1
68        1
2960      1
20        1
28        1
1323      1
24        1
212       1
42        1
25        1
39        1
35        1
14        1
390       1
52        1
87        1
4         1
61        1
211       1
1004      1
49        1
78        1
253       1
5         1
Name: count, dtype: int64

duration_of_pages_allprojects_sec
123      3
10       3
191      3
172      2
58       2
102      2
6        2
135      2
271      2
61       2
185      2
316      2
157      2
126      2
239      2
117      2
260      2
147      2
259      2
348      2
169      2
353      2
203      2
73       2
19       1
810      1
637      1
979      1
595      1
81       1
198      1
122      1
379      1
347      1
35       1
223      1
52       1
4        1
1970     1
3950     1
480      1
881      1
404      1
1678     1
350      1
36       1
161      1
30       1
99       1
28       1
1489     1
276      1
563      1
6413     1
43       1
31       1
108      1
16       1
13       1
425      1
390      1
429      1
3737     1
456      1
98       1
782      1
507      1
2786     1
159      1
188      1
67       1
204      1
40       1
413      1
686      1
89       1
1249     1
311      1
152      1
145      1
44       1
718      1
255      1
1029     1
338      1
693      1
107      1
651      1
214      1
116      1
53       1
85       1
128      1
93       1
178      1
313      1
2        1
1440     1
83       1
289      1
37       1
190      1
631      1
993      1
698      1
511      1
1080     1
354      1
3        1
7112     1
60       1
70       1
38       1
732      1
69       1
1911     1
665      1
442      1
1106     1
315      1
352      1
402      1
436      1
254      1
504      1
485      1
649      1
189      1
520      1
118      1
77       1
634      1
396      1
807      1
22       1
6058     1
1470     1
79       1
114      1
24       1
286      1
670      1
182      1
75       1
943      1
3501     1
125      1
349      1
446      1
120      1
237      1
17454    1
1190     1
11       1
391      1
1608     1
489      1
410      1
34       1
1507     1
139      1
180      1
194      1
20       1
833      1
59       1
297      1
299      1
476      1
76       1
57       1
173      1
1012     1
296      1
1960     1
156      1
1323     1
121      1
363      1
570      1
341      1
1062     1
1008     1
287      1
225      1
143      1
Name: count, dtype: int64

most_frequent_page_project_type
all projects       196
loft conversion      6
replacement          3
renovation           3
flat roof            2
upgrading            2
new build            1
Name: count, dtype: int64

most_frequent_page_space_type
allspaces           181
hallway-corridor     14
bedroom               6
livingroom            5
homeoffice            4
bathroom              2
kidsroom              1
Name: count, dtype: int64

second_frequent_page_project_type
all projects       180
flat roof           16
replacement          6
loft conversion      5
renovation           3
upgrading            2
new build            1
Name: count, dtype: int64

second_frequent_page_space_type
allspaces           185
hallway-corridor     15
bedroom               7
bathroom              3
livingroom            2
homeoffice            1
Name: count, dtype: int64

third_frequent_page_project_type
all projects       176
flat roof           15
replacement         11
loft conversion      6
renovation           3
extension            1
upgrading            1
Name: count, dtype: int64

third_frequent_page_space_type
allspaces           183
hallway-corridor     15
bedroom               7
kitchen               3
homeoffice            2
livingroom            1
kidsroom              1
bathroom              1
Name: count, dtype: int64

number_of_sunday_events
0     180
8       6
7       5
10      4
12      2
5       2
17      2
19      2
23      1
3       1
33      1
11      1
28      1
14      1
6       1
15      1
9       1
32      1
Name: count, dtype: int64

number_of_moday_events
0     170
6       8
8       4
5       3
12      3
7       3
9       3
10      3
4       2
15      2
11      2
3       1
19      1
18      1
13      1
21      1
45      1
14      1
20      1
1       1
32      1
Name: count, dtype: int64

number_of_tuesday_events
0     173
12      7
8       4
10      4
7       4
9       4
19      2
11      2
15      2
14      2
5       2
17      1
4       1
6       1
13      1
18      1
24      1
23      1
Name: count, dtype: int64

number_of_wednesday_events
0     162
7       7
13      4
11      4
10      4
12      4
15      4
8       4
9       3
20      2
5       2
18      2
14      2
31      1
25      1
16      1
17      1
6       1
21      1
24      1
22      1
42      1
Name: count, dtype: int64

number_of_thursday_events
0     167
6       6
7       6
8       5
11      4
9       4
12      4
13      3
17      3
14      2
24      1
18      1
3       1
5       1
25      1
41      1
20      1
10      1
15      1
Name: count, dtype: int64

number_of_friday_events
0     164
6       7
9       6
4       5
10      4
12      4
8       3
5       3
11      3
7       2
3       2
18      2
68      1
26      1
17      1
16      1
19      1
22      1
14      1
52      1
Name: count, dtype: int64

number_of_saturday_events
0     181
7       6
5       5
6       3
18      2
9       2
14      2
10      2
15      2
8       2
23      1
17      1
3       1
1       1
16      1
22      1
Name: count, dtype: int64

number_of_hour_1_6_events
0     175
6       7
7       4
14      4
10      3
9       3
5       2
13      2
22      1
3       1
20      1
15      1
19      1
1       1
18      1
11      1
4       1
16      1
8       1
12      1
32      1
Name: count, dtype: int64

number_of_hour_7_12_events
0     97
7     19
10    12
9     10
12     8
8      8
6      7
15     6
11     6
5      5
14     4
13     3
18     3
4      3
17     2
23     2
24     2
19     2
1      1
33     1
56     1
37     1
26     1
20     1
25     1
16     1
3      1
21     1
22     1
62     1
52     1
32     1
Name: count, dtype: int64

number_of_hour_13_18_events
0     130
12     13
6      10
7       7
11      7
8       6
9       5
23      3
10      3
15      3
22      3
1       3
16      2
5       2
18      2
3       2
13      2
20      1
19      1
52      1
21      1
4       1
39      1
98      1
29      1
27      1
14      1
Name: count, dtype: int64

number_of_hour_19_24_events
0     170
8       6
9       5
12      5
17      4
7       4
5       3
19      3
6       2
4       2
10      2
15      2
11      1
14      1
2       1
16      1
13      1
Name: count, dtype: int64

tag_project_last_visited_page
all projects    208
replacement       2
flat roof         1
renovation        1
upgrading         1
Name: count, dtype: int64


In [10]:
#normalize data
velux_dataset_small_normalized = velux_dataset_small.copy()

for col in velux_dataset_small:
    if velux_dataset_small[col].dtype == 'int64':
        x = velux_dataset_small[col].values
        normalized=(x-x.min())/(x.max()-x.min())
        velux_dataset_small_normalized[col] = normalized

In [13]:
#train classifier and check performance

y = velux_dataset_small['project_type']
X = pd.get_dummies(velux_dataset_small.drop('project_type', axis='columns'))
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=56) # make a train-test split to train the model properly
knn = RandomForestClassifier() # create a classifier
model = knn.fit(X_train, y_train) # train the classifier
pred = knn.predict(X_test) # test the classifier
print(confusion_matrix(y_test, pred)) # print out a confusion matrix, classification report and accuracy score to check how did the algorithm do.
print(classification_report(y_test, pred))
print(accuracy_score(y_test, pred))

[[ 2  0  0 11  0]
 [ 1  0  0  3  0]
 [ 1  0  0  4  0]
 [ 6  0  0 24  1]
 [ 1  0  0 10  0]]
                precision    recall  f1-score   support

loftconversion       0.18      0.15      0.17        13
      newbuild       0.00      0.00      0.00         4
    renovation       0.00      0.00      0.00         5
   replacement       0.46      0.77      0.58        31
     upgrading       0.00      0.00      0.00        11

      accuracy                           0.41        64
     macro avg       0.13      0.19      0.15        64
  weighted avg       0.26      0.41      0.31        64

0.40625

c:\Users\kubus\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\kubus\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\kubus\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))